pip>=22
chromadb==0.3.26
google-api-python-client==1.7.2
google-auth==1.8.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
InstructorEmbedding==1.0.1
transformers==4.30.2
sentence-transformers==2.2.2
unstructured==0.8.0
accelerate==0.20.3
einops==0.6.1
omegaconf>=2.3.0
xformers==0.0.20
llvmlite>=0.40.1
numba>=0.57.1
openai-whisper>=20230314
bs4>=0.0.1
ebooklib>=0.18
nltk>=3.8.1
rouge-score>=0.1.2
spacy==0.3.4
ipykernel==6.29.2
python-dotenv==1.0.1
pydub==0.25.1
openai==1.12.0
tiktoken==0.6.0
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.23
pytube==15.0.0
ipython==8.21.0
pyarrow==15.0.0
fastparquet==2024.2.0
